.counter {
  border: 2px solid black;
  border-radius: 15px;
  padding: 0.7em;
  margin-bottom: 1em;
  max-width: 450px;
  text-align: center;
}

.title {
  margin: 0.3em 0.2em;
}

.time {
  margin: 0.3em 0.2em;
}

.button-primary {
  border: 0px solid transparent;
  border-radius: 15px;
  padding: 0.5em;
  margin: 0.3em 0.2em;
  font-size: 16px;
}

.button-delete {
  border: 0px solid transparent;
  border-radius: 15px;
  background-color: red;
  color: white;
  padding: 0.5em;
  margin: 0 0.2em;
  font-size: 16px;
}
