.counter {
  padding: 0.7em;
  margin-bottom: 1em;
  width: 90%;
  max-width: 330px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0.5rem 0.5rem rgba(132, 81, 61, 0.35);
}

.title {
  margin: 0.5em 0;
  text-transform: uppercase;
}

.label {
  margin: 1em 0;
}

.input {
  font-size: 15px;
  padding: 0.3em;
  margin: 0.8em 0.2em 0.2em 0;
  width: max-content;
  border-radius: 15px;
  display: block;
}

.button-primary {
  border: 0.15rem solid black;
  border-radius: 15px;
  padding: 0.5em;
  margin: 0 0.2em;
  font-size: 16px;
  box-shadow: inset 0.1875rem 0.1875rem white, inset -0.1875rem -0.1875rem black;
  text-transform: uppercase;
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0.1em;
  text-shadow: rgb(255, 255, 255) 1.5px 2px 0px;
  color: black;
}

.button-primary:hover {
  box-shadow: inset 0.125em 0.125em black;
}

.button-primary:active {
  border-color: white;
  box-shadow: 0 0 0 0.1875rem black;
  outline: 2px solid transparent;
  outline-offset: 4px;
}

.error {
  font-size: 15px;
  padding: 0.3em;
  margin: 0.8em 0.2em 0.5em 0;
  width: max-content;
  border-radius: 15px;
  border-color: red;
  display: block;
}

.errorText {
  color: red;
  margin-bottom: 0.2em;
}
